<!-- this is what {{{body}}} will use in 'layout.hbs' file(every .hbs is takes reference for html defined with layout.hbs file)-->
<h1> {{header}} </h1>
<img src = "site/yourLieInApril.jpg" height="350px" width="520px" alt = "Your Lie in April">
